*{
    font-family: Arial, Helvetica, sans-serif ;  
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    justify-content: end;
    padding: 12px;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

header a{
    text-decoration: none;
    color: black;
}

.header_menu a:hover{
    text-decoration: underline;
}

header p{
    margin-right: 10px;
}

.menu{
    margin: auto 0px;
    padding: 10px;
    border-radius: 50%;
}

.menu:hover{
    background-color: rgb(235, 235, 235);
}

.ball{
    background-color: rgb(102, 102, 102);
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin: 1px;
}

.ball_row{
    display: flex;
    justify-content: space-around;
}

.login_name{
    padding: 10px;
    background-color: #EF6C00;
    border-radius: 50%;
    color: white;
    height: 11px;
    width: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_name p{
    margin: 0px;
}

.login_name:hover{
    text-decoration: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main_form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main_border:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
}

.main_border{
    width: 40vw;
    border: 1px inset black;
    border-width: 2px;
    border-style: inset;
    outline: none;
    border-color: rgba(202, 202, 202, 0.315);
    font-size: 16px;
    padding: 3px 14px 3px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search{
    width: 30vw;
    outline: none;
    border: none;
    height: 34px; 
    font-size: 16px;   
}

.main_form .search_icon{
    height: 25px;
    filter: contrast(.2);
}

.main_form img{
    height: 15px;    
}

.main_form .microphone{
    height: 40px;
}

.line{
    background-color: rgba(202, 202, 202, 0.596);
    height: 25px;
    width: 2px;
}

footer{
    background-color: #F2F2F2;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #70757A;
}

.footer_class{
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(202, 202, 202);
    font-size:14px;
}

.footer_class a,
.footer_class p{
    padding: 15px 17px;
    text-decoration:none;
    color: #70757A;
}

.footer_class ul{
    display: flex;
}

.footer_class li{
    list-style: none;
    margin-right: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buttons a{
    margin-right: 20px;
    text-decoration:none;
    background-color:#F8F9FA;
    padding: 10px 15px;
    color: #3c4043;
    font-size: 13px;
    border-radius: 5%;
}

.buttons a:hover{
    outline: 1.5px solid #cbdae4;
}

.lang{
    display: flex;
    justify-content:center;
    text-decoration: none;
    margin-top: 20px;
    font-size:14px;
}

.lang a{
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: blue;
}

.lang a:hover{
    text-decoration: underline;
}